*.pdb,build/,bin/,*.cache,Debug/

Model/obj/Debug/DeploymentModel.dll
Service/bin/Debug/DeploymentDAO.dll
Service/bin/Debug/DeploymentDAO.pdb
Service/bin/Debug/DeploymentModel.pdb
Service/bin/Debug/DeploymentModel.dll
Service/bin/Debug/DeploymentService.pdb
DAO/bin/Debug/DeploymentUtility.dll
Model/obj/Debug/DeploymentModel.dll
Model/obj/Debug/DeploymentModel.pdb
Service/bin/Debug/DeploymentService.dll
Service/bin/Debug/DeploymentService.pdb
Service/bin/Debug/DeploymentModel.pdb
Service/bin/Debug/DeploymentModel.dll
DeploymentUtility/FtpClient.cs
DAO/bin/Debug/DeploymentDAO.dll
DAO/bin/Debug/DeploymentDAO.pdb
DAO/bin/Debug/DeploymentModel.dll
DAO/bin/Debug/DeploymentModel.pdb
DAO/obj/Debug/DeploymentDAO.csprojResolveAssemblyReference.cache
DAO/obj/Debug/DeploymentDAO.dll
DAO/obj/Debug/DeploymentDAO.pdb
DAO/obj/Debug/DeploymentDAO.dll
DAO/obj/Debug/DeploymentDAO.pdb
DeploymentUtility/bin/Debug/DeploymentUtility.dll
DeploymentUtility/bin/Debug/DeploymentUtility.pdb
